<p>

	Thirty5 studio is located in San Francisco.  We have RED cinema camera and lens packages available.  Rental reservation by appointment only.  Please <%= link_to "Sign In", new_user_session_path, :method => :post %> with your account to submit reservation request, or call us at (949)413-2092.  

</p>