<p class="intro">

	Welcome to Thirtyfivestudio, located in San Francisco, CA.  We have a RED Epic digital cinema camera package for rent.  Rental pickup by appointments only.  Please <%= link_to "Sign In", new_user_session_path, :method => :post %> with your account to submit reservation request, or call us at (949)413-2092.  

</p>