<h1>thirty<span class="darkgrey bolder">5tudio</span>
	<span class="tagline">Camera Operation / 
		<span class="darkgrey"> RED Cinema & Lens packages</span>
</h1>


<div id="page_nav">
	<p>
		<a href="/about"> Info </a>
		<a href="/gears"> Equipment </a>
		<a href="/"> Works </a>
		<a href="/"> Home </a> 

	</p>
</div>