<div class="link_container">

	<img src="http://trailers.apple.com/trailers/independent/bansheechapter/images/background.jpg" height="200px" width="auto">
	<br>
	<br>
	<br>

	<iframe width="640" height="360" src="//www.youtube.com/embed/FvakUNt8Vhk?rel=0" frameborder="0" allowfullscreen></iframe>

	<li id="share-facebook"><a href="http://www.facebook.com/share.php?u=http://trailers.apple.com/trailers/independent/bansheechapter" target="_block" title="Share this on Facebook">Facebook</a></li>
	<li id="share-twitter"><a href="http://twitter.com/home?status=Banshee Chapter - See the trailer http://trailers.apple.com/trailers/independent/bansheechapter/" target="_block" title="Share this on Twitter">Twitter</a></li>

</div>