<div class="portfolioFilter">

    <a href="#" data-filter="*" class="current">All Categories</a>
    <a href="#" data-filter=".camera_body">Camera Body</a>
    <a href="#" data-filter=".lenses">Lenses</a>
    <a href="#" data-filter=".package">Package</a>
    <a href="#" data-filter=".red">Red</a>
    <a href="#" data-filter=".demo">Demo</a>

</div>

<div class="portfolioContainer">

    <div class="red camera_body package">
        <img src="../assets/1.jpg" alt="image" height="250px" width="300px" />
    </div>

    <div class="red camera_body package">
        <img src="../assets/2.jpg" alt="image" height="250px" width="300px" />
    </div>

    <div class="red camera_body package">
        <img src="../assets/3.jpg" alt="image" height="250px" width="300px" />
    </div>

    <div class="red camera_body package">
        <img src="../assets/4.jpg" alt="image" height="250px" width="300px" />
    </div>

    <div class="red camera_body package">
        <img src="../assets/5.jpg" alt="image" height="250px" width="300px" />
    </div>

    <div class="red camera_body package">
        <img src="../assets/6.jpg" alt="image" height="250px" width="300px" />
    </div>

    <div class="red camera_body package demo">
        <img src="../assets/7.jpg" alt="image" height="250px" width="300px" />
    </div>

    <div class="red camera_body package demo">
        <img src="../assets/8.jpg" alt="image" height="250px" width="300px" />
    </div>

    <div class="red camera_body package">
        <img src="./../assets/9.jpg" alt="image" height="250px" width="300px" />
    </div>

    <div class="red camera_body package demo">
        <img src="../assets/10.jpg" alt="image" height="250px" width="300px" />
    </div>

    <div class="red camera_body package">
        <img src="../assets/11.jpg" alt="image" height="250px" width="300px" />
    </div>

    <div class="red camera_body ">
        <img src="../assets/12.jpg" alt="image" height="250px" width="300px" />
    </div>

    <div class="red camera_body package">
        <img src="../assets/13.jpg" alt="image" height="250px" width="300px" />
    </div>

    <div class="red camera_body package">
        <img src="../assets/14.jpg" alt="image" height="250px" width="300px" />
    </div>

    <div class="red camera_body package">
        <img src="../assets/15.jpg" alt="image" height="250px" width="300px" />
    </div>

    <div class="red camera_body package ">
        <img src="../assets/16.jpg" alt="image" height="250px" width="300px" />
    </div>

    <div class="red camera_body package">
        <img src="../assets/17.jpg" alt="image" height="250px" width="300px" />
    </div>

    <div class="red camera_body package">
        <img src="../assets/18.jpg" alt="image" height="250px" width="300px" />
    </div>

    <div class="red camera_body package">
        <img src="../assets/19.jpg" alt="image" height="250px" width="300px" />
    </div>

    <div class="red camera_body package">
        <img src="../assets/20.jpg" alt="image" height="250px" width="300px" />
    </div>



</div>





<!-- <div class="gallery_container">

<img id="homepage_image" src="../assets/<%= (1..20).to_a.sample.to_s %>.jpg" height="250px" width="auto" />

<div id="carousel-example-generic" class="carousel slide">
  <!-- Indicators -->
<!--   <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol> -->

  <!-- Wrapper for slides -->
<!--   <div class="carousel-inner">
    <div class="item active">
      <img src="..." alt="...">
      <div class="carousel-caption">

      </div>
    </div>

  </div> -->

  <!-- Controls -->
<!--   <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="icon-next"></span>
  </a>

<script>
  $(document).ready(function(){
      $('.carousel').carousel({
      	interval: 3000;
      });
  });
  </script>


</div>

</div>  -->