/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

li {
	list-style: none;
}
footer {
	padding-left: 15px;
	padding-right: 15px;
}
.navbar-inverse{
	background: #959595;
	border: none;

}

.navbar-inverse a {
	color: white;
}

.user_signin {
	height: 30px;
	margin: 0;
}

.user_signed_in {
	float: right;
	margin: 10px;
}

.user_status {
	float: right;
	height: 5px;
}

.breadcrumb {
	background-color: white;
}

.breadcrumb > li +
li:before {
	content: none;
}

.alert, .notice {
	border-color: white;
	box-shadow: none;
	float: right;
	text-shadow: none;
}

.devise_container {
	max-width: 400px;
  width: 50%;
  margin: 40px 50px 0px 50px;
}
