// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.calendar td { 
	height: 50px; width: 14.28%; 
	margin: 0 0 0 20px;
}

.calendar {
	margin: 10px 50px 20px 30px;
}

.bookings_container {
	max-width: 400px;
  width: 50%;
  margin: 40px 50px 0px 50px;
}